*{

	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: #ffffff;
}

li,a,button,p {
  font-weight: 500;
  font-size: 16px;
  color: #485e74;
  text-decoration: none;
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #b1cde9;
  padding: 20px;
}
.logo {
  cursor: pointer;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #f9feff;
}
.nav-button {
  padding: 9px 25px;
  background:#92bde7;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.nav-button:hover {
  background: #92bde7;
  color:#fff;
  transition: background-color 2s ease-out;

}
/* h1 {
  text-align: center;
  color: #485e74;
} */
#title1 {
  text-align: center;
  color: #485e74;
}
.search {
  margin: 40px;
  padding:40px;
  background: #c9e6ff;
  position: relative;
}
.search form {
  position: relative;
  left:30%;
}
.search-dialog input[type="text"] {
  padding: 10px;
  width:60%;
  border:none;
  outline: none; 
}  

/* .search button {
  height: 100%;
} */ 
.search-dialog{
  display: inline-block;
  position: relative;
  width:40%;
  background-color:#ffff;
  border:1px solid #b1cde9;
}

 /* .button-dialog button{
 display: inline-block;
 height: 55px;
 
 

  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
 /* }  */  

.button-dialog  {
  display: inline-block;
  position: relative;
  top: -10px;
  

  /* border: none;
  outline: none;
  background-color:#485e74 ; */

}
.button-dialog button {
  height: 60px;
  padding:10px;
  border: none;
  background-color:#92bde7;
}



.search label {
  padding:5px;
}
.presence {
  padding: 20px;
}
.presence h1 {
  text-align: center;
  color:#485e74;
}
/* grid container */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap:10px;
}
.grid-item {
  padding:10px;
  border: 1px solid #b1cde9;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

footer {
  display: flex;
  flex-direction: row;
  color: #485e74;
  background-color: #92bde7;
  width: 100%;
  margin-top:  10px;
}

.footer-col-40 {
  width: 40%;
  padding: 4em;
}

.footer-col-20 {
  width: 20%;
  padding: 4em 2em 2em 4em;
}

.footer-col-40:first-child {
  padding-left: 6em;
}

.footer-col-40:last-child {
  padding-right: 6em;
}

#footer-logo {
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  padding-bottom: 0.25em;
}

#footer-about-us {
  font-size: 15px;
  letter-spacing: 1px;
  padding-bottom: 2em;
}

#footer-find-us {
  font-size: 20px;
  font-weight: bold;
}

#footer-social-media img {
  padding: 1.5em 1em 0 0;
}

#footer-col-header {
  color: white;
  padding: 1.25em 0;
  font-size: 20px;
  font-weight: bold;
}

#footer-voucher {
  font-size: 20px;
  padding-bottom: 2em;
}

.footer-form input {
  background-color: white;
  border: none;
  height: 45px;
  margin-bottom: 1em;
  outline: none;
  width: 300px;
  padding-left: 10px;
  font-size: medium;
}

.footer-form button {
  background-color: #92bde7;
  border: 2px solid white; 
  color: #485e74;
  cursor: pointer;
  height: 45px;
  font-size: medium;
  outline: none;
  transition: all 0.5s ease-in-out;
  width: 120px;
}
/* .presence-container {
  color:#485e74;
}
.presence-flex-container {
  /* width: calc(100% /3);
  display: inline-block; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #92bde7;
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
.presence-flex-container h1 {
  margin-left: 200px;
} */ 
/* .presence-flex-container p {
  padding: 20px;
  font-size: large;
} */

/* .search input[type="text"] {
  padding: 10px;
  width: 100%; 
  /* outline: none;
  border: none;
}
.search-container {
  border:1px solid rgba(72,94,116,0.7);
  padding: 5px;
  background: #fff;
  width:50%;
}
.search-button > button {
  padding: 25px 25px;
  background:#92bde7;
  border: 1px solid rgba(72,94,116,0.7);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  /* position: relative;
  right: 225px; */
/* }
.search-button > button:hover {
  background: #92bde7;
  color:#fff;
  transition: background-color 2s ease-out; */ 

 /* }  */ 

 .slider {
   margin: 0;
	 padding: 0;
    position: relative;
    width: 100%;
    /* top: 50%; */
    /* background: #92bde7; darckblue */
  }
 .myslide{
    height: 655px;
    display: none;
    overflow: hidden;
  }
  
  .prev, .next{
    position: absolute;
    top: 20%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
  }
  .prev:hover, .next:hover{
    color: #00a7ff; /* blue */
  }
  .next{
    right: 0;
  }
  .dotsbox{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
  }
  .dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
  }
  /* /2 */
  
  /* javascript */
  .active, .dot:hover{
    border-color: #00a7ff; /* blue */
  }
  /* /javascript */
  
  /* muslide add fade */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
  }
  /* /muslide add fade */
  
  /* 3 */
  .txt{
    position: relative;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
  }
  
  @-webkit-keyframes posi {
    from {left: 25%;}
    to {left: 15%;}
  }
  
  
  @keyframes posi {
    from {left: 25%;}
    to {left: 15%;}
  }
  
  .txt h1{
    color: #00a7ff; /* blue */
    font-size: 50px;
    margin-bottom: 20px;
  }
  .txt p{
    font-weight: bold;
    font-size: 20px;
  }
  /* /3 */
  
  /* 4 */
  .img-animation{
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
      -webkit-animation-duration: 40s;
      animation-name: zoomin;
      animation-duration: 40s;
  }
  @-webkit-keyframes zoomin {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
  }
  
  
  @keyframes zoomin {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
  }
  /* /4 */
  
  
  
  /* 5 */
  @media screen and (max-width: 800px){
    .myslide{
      height: 500px;
    }
    .txt{
      letter-spacing: 2px;
      line-height: 25px;
      top: 30%;
      left: 30%;
      transform: translate(-50%, -50%);
      -webkit-animation-name: posi2;
      -webkit-animation-duration: 2s;
      animation-name: posi2;
      animation-duration: 2s;
    }
  
    @-webkit-keyframes posi2 {
      from {top: 10%;}
      to {top: 15%;}
    }
  
  
    @keyframes posi2 {
      from {top: 10%;}
      to {top: 15%;}
    }
  
    .txt h1{
      font-size: 40px;
    }
    .txt p{
      font-size: 13px;
    }
    .presence-flex-container {
      flex: auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
 
  /* /5 */
  
  /* 6 */
  @media screen and (max-width: 520px){
    .txt h1{
      font-size: 30px;
      margin-bottom: 20px;
    }
    .sign{
      margin-right: 20px;
    }
    .sign a{
      font-size: 12px;
    }
    header {
      flex-direction: column;
      justify-content: center;
      
    }
    header > *{
      padding: 0px;
    }
    footer {
      display: flex;
      flex: 1;
      flex-direction: column;
      color: #485e74;
      background-color: #92bde7;
      width: 100%;
      margin-top:  10px;
  }
  #footer-logo {
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;
    padding-bottom: 0.20em;
}
.footer-col-40 {
  width: 100%;
  padding: 4em;
}
#footer-about-us {
  width: 100%;
  font-size: 10px;
  /* padding-bottom: 2em; */
}
.footer-col-20 {
  width: 100%;
  padding: 4em 2em 2em 4em;
}
    
  }
  /* /6 */
  
  
  
  
  
  
  
  
  
  