body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#8fd1f068;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #d8cdd8;  
        border-radius: 30px ;  
          
}  
  
#uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    
}  
#pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
} 
#log:hover {
    background-color: #4CAF50; /* Green */
    color: white;
} 
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float:center;       
}   

